.wrap {
    width: 200px; 
  }
  .wrap > div{ /* .wrap클래스 밑에 있는 div태그를 총칭*/
    width: 50px;
    height: 50px;
    float: left;
  }
  .wrap .b{
    background-color: black;
  }
  .wrap .w {
    background-color: white;
  }
  .wrap .r{
     background-color: red;
 }
 