.wrap {
    width: 200px; 
  }
  .wrap > div{
    width: 50px;
    height: 50px;
    float: left;
  }
  .wrap .b {
    background-color: black;
  }
  .wrap .w {
    background-color: white;
  }
  .wrap .y {
    background-color:yellow;
 }
 .wrap .r{
     background-color: red;
 }
 