body,h1 {
    margin: 0;
    padding: 0;
}
.header {
    background: #eee;
    height: 30px;
    padding: 10px;
}
h1 {
    float: left;
}
.menu {
    float:right;
    margin: 0 0 0 0;
    padding: 10px;
}
.container {
    max-width: 600px;
    margin: 20px auto;
}
#memo {
    width: 100%;
    height: 200px;
}